@{
    ViewBag.Title = "chitiet";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@using DOAN_VIETNAMLAM.Models;
@model TRANGSUC

<div class="container minheight" >
    <hr style="width:100%"/>
    <div class="row">
        <div class="col-md-5">
            <img src="../hinhanh/@Model.HINHANH"/>
        </div>
        <div class="col-md-7">
            <p>Mã sản phẩm: @Model.MATRANGSUC</p>
            <h3>Tên sản phẩm: @Model.TENTRANGSUC</h3>
            <p>Mô tả: @Model.MOTA</p>
            <h4>Giá bán: @Model.GIA VND</h4>
            
             <a href="@Url.Action("suaSP", new { masp = @Model.MATRANGSUC})"><input class="btn-themgiohang" type="submit" value="Sửa sản phẩm" /></a>
            <a href="@Url.Action("SanPham")"><input class="btn-xemthem" type="submit" value="Xem thêm" /></a>
        </div>
    </div>
</div>